@import"./desktop/reset.css";
@import"./desktop/header.css";
@import"./desktop/story-line.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    height: 40px;
    direction: rtl;
    background-color: white;
}
.menu .menu-nav{
    width: 80%;
    height: inherit;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    position: relative;
    padding-right: 20px;
}
.menu .menu-nav .menu-item{
    width: fit-content;
    height: inherit;
}
.menu .menu-nav .menu-item .menu-link{
    width: fit-content;
    height: inherit;
    display: block;
    text-decoration: none;
    line-height: 40px;
    background-color: white;
}
.menu .menu-nav .menu-item .sub-menu{
    width: 80%;
    height: 70vh;
     background-color:rgb(246, 216, 159);
     display: none;
     position: absolute;
}
.menu .menu-nav .menu-item:hover .sub-menu{
    display: block;
}
.menu .menu-nav .menu-item:hover .sub-menu .sub-menu-parent{
    width: 20%;
    height: inherit;
    background-color: rgb(250, 251, 251);
    overflow:auto;
}
.menu .menu-nav .menu-item:hover .sub-menu .sub-menu-parent .sub-sub-child{
    width: 100%;
    height: 50px;
    background-color: dimgrey;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.menu .menu-nav .menu-item:hover .sub-menu .sub-menu-parent .sub-sub-child .sub-menu-link{
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu .menu-nav .menu-item:hover .sub-menu .sub-menu-parent .sub-sub-child .sub-menu-link:hover{
    color: white;
    background-color: whitesmoke;
}
