*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}
@font-face {
    font-family: iranyekan;
    src: url(../font/IRANYekanWeb.eot);
    src: url(../font/IRANYekanWeb.ttf);
    src: url(../font/IRANYekanWeb.woff);
    src: url(../font/IRANYekanWeb.woff2);
}
body{
    font-family: iranyekan;
    direction: rtl;
}
